:root {
    --principalFont: 'Barlow Semi Condensed', sans-serif;
    --whiteColor: #ffffff;
    --bgColor1: #1d3251;
    --bgColor2: #1a2b4a;
    --bgColor3: #172344;
    --bgColor4: #141c3d;
    --bgColor5: #121536;
    --scoreBorderColor: #5e6e87;
    --scoreBgColor: #f8f8f8;
    --scoreTitleColor: #35468e;
    --scoreNumberColor: #55536a;
    --attributionHoverColor: #f1f18d;
    --gameChoiceBgColor: #e3e3e3;
    --paperBorder: #536ff4;
    --scissorsBorder: #eca823;
    --rockBorder: #df405e;
    --buttonRulerBorderColor: #888ba4;
    --rulesBg: #000000b7;
    --bgHousePickedColor: #17223e;
    --btnPlayAgainColor: #f9f9f9;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 16px;
    font-family: var(--principalFont);
    background-image: radial-gradient(circle, var(--bgColor1), var(--bgColor2), 
                        var(--bgColor3), var(--bgColor4), var(--bgColor5));
}

header {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10em;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    height: 2em;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.5em;
    width: 40em;
    border: solid var(--scoreBorderColor);
    border-radius: 15px;
    padding: 1em 1em;
    box-sizing: border-box;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
    width: 7.5em;
    padding: 1em;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: var(--scoreBgColor);
}

.score a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--scoreTitleColor);
}

.score-number {
    font-size: 50px;
    font-weight: bold;
    color: var(--scoreNumberColor);
}

.pick-page {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22em;
    width: 30em;
    margin-top: 2em;
}

.game-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.8em;
    width: 8.5em;
    border-radius: 100%;
    background-color: var(--gameChoiceBgColor);
}

.game-choice:hover {
    cursor: pointer;
}

.paper {
    position: absolute;
    top: 0;
    border: solid var(--paperBorder);
    border-width: 1em;
    margin-top: 13em;
    margin-left: -14em;
}

.scissors {
    position: absolute;
    top: 0;
    border: solid var(--scissorsBorder);
    border-width: 1em;
    margin-top: 13em;
    margin-left: 14em;
}

.rock {
    position: absolute;
    top: 0;
    border: solid var(--rockBorder);
    border-width: 1em;
    margin-top: 24em;
}

.result-game {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 22em;
    width: 36em;
    margin-top: 12.2em;
}

.picked-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 14em;
    width: 11.5em;
}

.picked-container h2 {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: var(--whiteColor);
}

.user-picked {
    position: relative;
    margin-left: 0em;
    margin-top: 0em;
    margin: 0 1em;
}

.result {
    display: none;  /*display: flex*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 10.5em;
    margin: 2em 1em 0;
}

.result span {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--whiteColor);
}

.result button {
    font-family: var(--principalFont);
    font-weight: bold;
    letter-spacing: 2px;
    height: 2.5em;
    width: 12.5em;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    color: var(--scoreNumberColor);
    background-color: var(--btnPlayAgainColor);
}

.bg-house-picked {
    position: absolute;
    display: block;
    height: 6.8em;
    width: 7.1em;
    border-radius: 100%;
    margin: 5em 2em;
    background-color: var(--bgHousePickedColor);
}

.house-picked {
    display: flex;
    position: relative;
    margin-left: 0em;
    margin-top: 0em;
    margin: 0 1em;
}

.winner {
    box-shadow: 1px 1px 10000px 2px var(--whiteColor);
}

.rules-page {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22em;
    width: 20em;
    border-radius: 15px;
    padding: 1.5em 2.5em;
    box-sizing: border-box;
    box-shadow: 1px 1px 1000px 200px var(--rulesBg);
    background-color: var(--whiteColor);
}

.rules-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    width: 100%;
}

.rules-title h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--scoreNumberColor);
}

.rules-title img:hover {
    cursor: pointer;
}

.button-rules {
    font-family: var(--principalFont);
    letter-spacing: 2px;
    align-self: flex-end;
    height: 3em;
    width: 7em;
    text-transform: uppercase;
    margin-right: 2em;
    border-radius: 10px;
    border-width: thin;
    border: solid var(--buttonRulerBorderColor);
    color: var(--whiteColor);
    background: none;
}

.button-rules:hover {
    cursor: pointer;
}

.attribution a {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--whiteColor);
}

.attribution a:hover {
    text-decoration: underline;
    color: var(--attributionHoverColor);
}